
/* Contact page CSS */
/* Mobile first */
/* header and footer css codes are in common css */





h2 {
    font-size: 2.3rem;
}

.banner-wrapper {
    position: relative;
}


.banner-wrapper img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
}

/* Change image's opacity using Pseudo-elements */
.banner-wrapper picture::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(218, 218, 218);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    width: 100%;
    height: 14rem;

}




.banner-wrapper .banner-text {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.banner-wrapper .banner-text.active {
    display: none;
}


/* contact section */

section {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.contact-wrapper {
    width: 85%;
    padding: 2rem;
    background-color: #F6EBFF;
    border-radius: 2rem;
    border: 3px solid transparent;
    margin: 3rem auto;
}

.contact-wrapper h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: rgb(1, 1, 143);
    font-weight: 500;
}

.contact iframe {
    width: 300px;
    height: 300px;
}

.contact .map h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.contact-wrapper p {
    margin-bottom: 0.3rem;
}

.contact-wrapper.time {
    font-size: 0.8rem;
}

/* contact form */


.contact-form h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #222;
    font-weight: 500;
    margin: 5rem 0;
}


form {
    max-width: 90%;
    margin: 3rem auto;
    padding: 2rem;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgb(2, 2, 131), rgb(149, 55, 197)) border-box;
    border-radius: 2rem;
    border: 3px solid transparent;
}


.contact-form form label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

.contact-form input,
textarea {
    display: block;
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contact-form button {
    background-color: #6D60A4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 1rem;
    font-size: 1rem;
    transition: 2ms;
}

.contact-form button:hover {
    background-color: #A384BB;
}


/******************** wide screen viewport ********************/


@media screen and (min-width:500px) {

    h2 {
        font-size: 3.5rem;
    }

    .banner-wrapper img {
        height: 20rem;
    }

    .banner-wrapper picture::after {
        height: 20rem;
    }

    section {
        width: 70%;
    }

    /* changed layout to grid from mobile screen*/

    section .grid{
        display: grid;
        grid-gap: 1rem;
        margin-top: 5rem;
    }

    .contact-wrapper {
        width: 100%;
        margin-bottom: 0;
        margin-top: 0;
    }

    .contact-wrapper.number{
        grid-area: 1;
        margin-top: 3rem;
    }

    .contact-wrapper.number h3{
        margin-top: 3rem;
    }

    .contact-wrapper.time{
        grid-area: 2;
        height: 170px;
        grid-column: 1/3;
        font-size: 1rem;
    }

    .contact-wrapper.map{
        grid-area: 3;
        align-self: center;
        grid-column: 1/3;
    }

    /* google map */
    .contact iframe{
        width: 100%;
        height: 300px;
    }
}