

/* Main Homepage CSS */
/* Mobile first */
/* header and footer css codes are in common css */


/* banner */

.banner-wrapper img{
    width: 100%;
    
}

.banner-wrapper .banner-text{
    position:absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-wrapper .banner-text.active{
    display:none;
}

.banner-text>p{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.banner-text button{
    width: 10rem;
    background: linear-gradient(90deg, rgba(102,63,251,1) 0%, rgba(123,39,162,1) 100%);
    border-radius: 10rem;
    padding: 1.1rem 1rem; 
    margin-top: 2rem;
    text-align: center;
}

.banner-text button{
    color: #fff;
    font-weight: 600;
}


/* section info */

h2{
    text-align: center;
    font-weight: 800;
    font-size: 2.2rem;
    color: #6D60A4;
}

.section-wrap{
    width: 100%;
}


section.info h2{
    margin: 4rem 0 3rem 0;
}

.section-wrap img {
    width: 100%;

}

section.info p{
    padding: 1.5rem 2rem;
    text-align:left;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 3rem;

} 

/* section - product */

section.product h2{
    margin-bottom: 3rem;
    color: #222;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.product-wrap{
    width: 93%;
    margin: 0 auto;
}


.product-wrap h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;

}

.product-wrap ul li{
    margin-bottom: 3rem;
}


.product-wrap img{
    width: 100%;
    height: 12.8rem;
    object-fit: cover;
    opacity: 1;
}

.product-wrap img:hover{
    opacity: 0.6;
    transition: 200ms ease-in;
}


/******************** wide screen viewport ********************/

@media screen and (min-width:500px){




    /* header banner area */
    .banner-wrapper .banner-text{
        top: 30%;
    }
    
    
    .banner-text>p{
        font-size: 3.3rem;
    }
    
    
    /* Section */
    
    
    /* grid layout */
    .info-wrap{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.2rem;
        width: 57rem;
        margin: 0 auto;
    }
    
    .info-wrap img{
        border-radius: 3rem 0 0 0;
    }
    
    section.info p{
        padding: 1rem 0;
        margin-bottom: 6rem;
    }
    
    
    /* section product */
    
    .product-wrap h2{
    margin-bottom: 3.5rem;
    }
    
    .product-wrap{
        width: 65rem;
    
    }
    
    .product-wrap h3 {
        margin-bottom: 0.5rem;
    }
    
    /* change layout to grid */
    .product-wrap ul{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-gap: 1.2rem;
    }
    
    .product-wrap ul li{
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 0.9rem;
        text-align: center;
    }
    
    /* using flex to reverse order of h3 and picture */
    
    .product-wrap img{
        height: 16rem;
    
    }
    
    
    
    }