
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');


/* common area */
body {
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    color: #222;

}

.hide {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

header {
    width: 100%;
}

.nav-wrapper {
    padding: 1rem 0;
}

h1 {
    position: absolute;
    left: 50%;
    top: 1.2rem;
    transform: translateX(-50%);
}

h1 img{
    width: 9rem;
}

.btn-burger {
    width: 2rem;
    height: 2rem;
    background: url("../images/menu.png") no-repeat center;
    margin-left: 1rem;

}

.btn-burger.active{
    width: 2rem;
    height: 2rem;
    background: url("../images/arrow-down.png") no-repeat center;
}

header nav ul{
    display:none;
}

header nav.active {
    display: inline-block;
    width: 100%;
    height: 30rem;
    background-color: #6D60A4;
    margin-top: 1.3rem;
    text-align: center;
    transition: 300ms ease-in;
}

header nav.active ul{
    display: inline-block;
    margin-top: 5rem;
}

header nav.active ul li{
    padding: 2rem 0;
    font-size: 2.2rem;
}

header nav.active li a{
    color: #fff;
}

.search input{
    display:none;
}

.btn-search{
    width: 2rem;
    height: 2rem;
    background: url("../images/search.png") no-repeat center;
    position: absolute;
    right: 1rem;
    top: 1rem;
}


/* banner */

.banner-wrapper img{
    width: 100%;
    
}

.banner-wrapper .banner-text{
    position:absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-wrapper .banner-text.active{
    display:none;
}


.banner-text>p{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.banner-text button{
    width: 10rem;
    background: linear-gradient(90deg, rgba(102,63,251,1) 0%, rgba(123,39,162,1) 100%);
    border-radius: 10rem;
    padding: 1.1rem 1rem; 
    margin-top: 2rem;
    text-align: center;
}

.banner-text button a{
    color: #fff;
    font-weight: 600;
}


/* section info */

h2{
    text-align: center;
    font-weight: 800;
    font-size: 2.2rem;
    color: #6D60A4;
}

.section-wrap{
    width: 100%;
}


section.info h2{
    margin: 4rem 0 2rem 0;
}

section.info p{
    padding: 1.5rem;
    text-align:left;
    font-size: 1.2rem;
} 
